{% extends "blogs/base.html" %}
{% load bootstrap5 %}

{% block title %}
    Deletar conta - Blog do Gui
{% endblock %}

{% block header %}
    <div class="mt-3 shadow p-4 mb-5 bg-body rounded">
        <h2 class="display-6 text-center">Deletar conta</h2>
    </div>
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <div class="card border-danger mb-3">
        <div class="card-header bg-danger text-white">
            <span class="fs-4 fw-semibold">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="25" 
                    height="25" 
                    fill="currentColor" 
                    class="bi bi-exclamation-circle-fill" 
                    viewBox="0 0 16 16"
                >
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                </svg>
                {{ user.username }} tem certeza que deseja deletar sua conta?
            </span>
        </div>
        <div class="card-body">
            <p class="card-text fs-5 text-danger">
                Esta ação é <strong>irreversível</strong>. 
                Ao deletar sua conta, todos os seus dados serão excluídos para sempre.
            </p>
        </div>
        <div class="card-footer bg-light d-flex justify-content-end">
            <a href="{% url 'perfil' %}" class="btn btn-outline-secondary">Cancelar</a>
            <form method="post" action="{% url 'delete_conta' %}" class="ms-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger"> 
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="16" 
                        height="16" 
                        fill="currentColor" 
                        class="bi bi-trash-fill" 
                        viewBox="0 0 16 16"
                    >
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                    Deletar conta
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}