
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{postagens.titulo}}</h5>
    <p class="card-text">{{postagens.conteudo}}</p>
  </div>
  <div class="card-footer text-muted">
  Publicado: {{postagens.data}}
  </div>
</div>
